*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    height:100vh;
}
.navbar{
    background-color:#a0d2eb;
    height: 20vh;
  

}
.divbar{
display: flex;
justify-content: space-between;
align-items: center;
  padding-top: 35px;
  padding-left: 30px;
    padding-right: 40px;

}
ul{
    display: flex;
    gap: 35px;
    
}
li a{
    font-size: 20px;
    font-weight: bold;
     font-family:"Poppins";
}
li{
     font-size: 20px;
    font-weight: bold;
     font-family:"Poppins";
}
li a:hover{
    color: white;
    transition: all ease-out 0.2s;
    font-size: 25px;
  
}
.maint{
   font-family:optic, sans-serif;
   font-weight:900;
   color: darkgreen;
   cursor: pointer;
}